{% extends "shop/base.html" %}
{% block title %} CABE {% endblock %}
{% block content %}
	{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">{{ message }}</div>
	{% endfor %}
	<div class="container">
		<form name='my_form' action='.' method='POST'>
			{% csrf_token %}
			<table>
				{{ roast_form.as_table }}
			</table>
			<input type="submit" value="submit">
		</form>

		{% if selected_beans %}
			<p>Selected Beans</p>
			<div class="row">
				{% for b in selected_beans %}
					<div class="card" style="width: 18rem;">
						<img src="{{ b.picture }}" class="card-img-top">
						<div class="card-heading">{{ b.name }}</div>
						<div class="card-body">
						    <p class="card-text">{{ b.description }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>

<!-- 	<script>
	$(function() {
		$('my_form').submit(function(){
			$.post('http://example.com/upload', function() {
				window.location = 'http://google.com';
			});
			return false;
		});
	});
	</script> -->
{% endblock %}