{% extends "shop/base.html" %}
{% block title %} CABE {% endblock %}
{% block content %}
	{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">{{ message }}</div>
	{% endfor %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card-heading" align="center">
					<h3>All Products</h3>
				</div>
			</div>
		</div>
		<div class="row">
			{% for b in beans %}
				<div class="card" style="width: 18rem;">
					<img src="{{ b.picture }}" class="card-img-top">
					<div class="card-heading">{{ b.name }}</div>
					<div class="card-body">
					    <p class="card-text">{{ b.description }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}